/* To DO:
    Add responsive typography to the whole website!!!!
*/

body {
    background: #ffffff;
}

.main-img {
    background-image: url('./images/loc-copy.jpeg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-nav {
    height: 60px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10
}

.main-nav .nav-container {
    justify-content: space-between;
    flex: 1;
}

.main .loc-logo {
    background-image: url('./images/loc-fav.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.main-nav .nav-container div {
    color: white;
}

.main-nav .nav-container div:hover {
   border-bottom: 3px solid white;
}

.main-nav .nav-container div:active {
    border-bottom: 3px solid white;
 }

.main-nav .nav-filler {
    flex: 2;
}

.main-nav .nav-ends {
    width: 50px;
}

#about {
    padding: 30px 0px; 
}

#about .profile-img {
    background-image: url('./images/profile-copy.jpg');
    height: 250px;
    width: 250px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    min-width: 250px; /* You need this because the image will be cut off.*/
}

#about .about-content {
    width: 70%;
    max-width: ;
}

@media (max-width: 992px) { 
    #about .about-content {
       justify-content: center;
       flex-direction: column;
    }
}

#videos {
    background: #fafafa;
    margin: 20px 0px;
}

#videos .video-container .youtube-vid {
   margin: 20px;
}

#contact {
    background: #333333;
    color: #f4f4f4;
}

#contact-section {
    margin: 20px 0px;
}

#contact hr {
    background: #f4f4f4;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-vertical-center {
    align-items: center
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap
}

/* font styles */
a {
    font-family: 'Roboto';
}

h3 {
    font-family: 'Roboto';
    color: #404040;
}

div {
    font-family: 'Roboto';
}
