#main .loc-logo {
    background-image: url('./images/loc-fav.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
} 

.main-img {
    background-image: url('./images/loc-copy.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#main .main-nav {
    width: 100%;
}

.section-space {
 padding: 50px;
}

#about {
    padding: 50px 0px; 
}

#about .profile-img {
    background-image: url('./images/profile-copy.jpg');
    height: 250px;
    width: 250px;
    background-size: contain;
    border-radius: 50%;
    background-repeat: no-repeat;
    min-width: 250px; /* You need this because the image will be cut off.*/
}

#about .about-content {
    width: 70%;
}

#about .about-content div{
    margin: 0px 15px;
}

@media (max-width: 992px) { 
    #about .about-content {
       justify-content: center;
       flex-direction: column;
    }

    #about .about-content .profile-img {
        margin: 0 0 20px 0
    }
}

#videos {
    background: #fafafa;
    padding: 50px 0px;
}

#videos .video-container .youtube-vid {
   margin: 20px;
}

#videos  .watch-more a   {
    color: #fff;
}

#contact {
    background: #f0eeee;
    padding: 50px 0px;
}

#contact-section {
    margin: 20px 0px;
}

#contact hr {
    background: black
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-vertical-center {
    align-items: center
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-align-right {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap
}

/* font styles */
a {
    font-family: 'Roboto';
}

h3 {
    font-family: 'Roboto';
    color: #404040;
}

div {
    font-family: 'Roboto';
}
