.main-img-container {
    width: 100%;
    height: 100vh;
}

.main-img {
    background-image: url("./images/loc-copy.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}